body {
    background-color: rgb(2, 13, 36);
}
header h3 {
    color: #007FFF;
    border: 1px solid #007FFF;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgb(160, 136, 136);
    transition: 0.2;
    text-align: center;

}
header h3:hover {
    background-color: white;
    box-shadow: 0 0 10px 1px #39A8FF;
    color:rgb(0, 3, 187);
}
article {
    height: 100vh;
}
article h1 {
    color:#007FFF;
    position: relative;
    width: max-content;
}
article h1::before{
    content: '';
    background-color: aqua;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 1px;
    left: 0;
}

article h2 {
    font-family: monospace;
}
article h4 {
    color: pink;
    padding: 10px;
    border: 1px solid #007FFF;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px #39A8FF;
}
article {
    color: rgb(255, 255, 255);
    max-width: 600px;
    text-align: left;
    font-family: Calibr;
}
.youtube {
    border: 5px solid gray;
    padding: 5px;
    box-shadow: 0 0 10px 5px gray;
    margin-bottom: 40px;
}
.youtube h2 {
    text-align: center;
    color: white;

}
.youtube h3 {
    text-align: center;
    color: white
}
.youtube iframe{
    width: 99%;
    height: 600px;
    border: none;
    margin-top: 20px;
}
.location h3 {
    text-align: center;
}
.location {
    color: white;
    border: 5px solid gray;
    padding: 5px;
    box-shadow: 0 0 10px 5px gray;
}
.location iframe {
    
    width: 100%;
    height: 500px;
    border: none;
    margin-top: 20px;
}
ul  {
    padding: 10px;
    border: 1px solid #007FFF;
    background-color: rgb(88, 149, 206);
    width: 400px;
    font-size: 1.5em;
}




footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: white;
}